{{- $rawName := trim .name " " -}}

{{- if hasPrefix $rawName "/" -}}
    
    {{- $customPath := strings.TrimPrefix "/" $rawName -}}
    {{- $svgResource := resources.Get $customPath -}}
    
    {{- if $svgResource -}}
        {{- $svgResource.Content | safeHTML -}}
    {{- end -}}

{{- else -}}
    
    {{- $iconName := lower $rawName -}}
    {{- $iconPath := printf "icons/social/%s.svg" $iconName -}}
    {{- $svgResource := resources.Get $iconPath -}}
    
    {{- if $svgResource -}}
        {{- $svgResource.Content | safeHTML -}}
    {{- end -}}

{{- end -}}
